body {
  text-align: center;
  margin-top: 5rem;
}

.cat-red {
  color: red;
}

#catBlue {
  color: blue;
}

input[name="green"]::placeholder {
  color: green;
  border: 1px solid ;
  font-size: .8rem;
}

[data-text="target"] {
  color: pink;
}

li:first-child {
  color: red;
}

li:nth-child(5) {
  color: green;
}

li:last-child {
  color: blue;
}