.text-wrap {
  position: relative;
  width: 400px;
  height: 60px;
  border: 1px solid;
  padding: 12px;
  display: flex;  /* 親要素に対してdisplay:flex;を付与しalign-items: center;を付与することで、要素はY軸の真ん中になる */
  align-items: center;
}
span {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 1px;
  display: inline-block;
  background: #0e6edf;
}

/* .text-wrap div {
  line-height: 60px;
} */

